aside{
    float: left;
    background-color: white;
    width: 300px;
    margin-top: 40px;
    border: solid 1px var(--gray-color);
    box-shadow: 2px 2px 5px;
    padding: 30px;
    box-sizing: border-box;
}
aside h3{
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    background-color: var(--secondary-color);
    padding: 5px;
    text-align: center;
    font-family:"NunitoSans-Bold", Arial, Helvetica, sans-serif;
    border-top: solid 1px var(--secondary-color-dark);
    border-bottom: solid 1px var(--secondary-color-dark);
}

.widget{
    margin-bottom: 60px;
}

.widget form input[type="email"], .widget form input[type="password"]{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.widget form input[type="submit"]{
    width: 100%;
    text-transform: uppercase;
    color: white;
    background-color: var(--primary-color);
    padding: 10px;
    border: none;
    transition: all 0.4s;
}
.widget form input[type="submit"]:hover{
    background-color: var(--primary-colo-dark);
    cursor:pointer;
}

.widget ul{
    list-style-type: circle;
    padding-left: 20px;
}

.widget ul li{
    margin:15px 0;
}


.widget blockquote{
    margin: 0;
    color: var(--gray-color-dark);
    font-style: italic;
}

@media (max-width:700px){
    aside{
        width: 100%;
    }
}
