:root{
    --primary-color: #EA526F;
    --primary-color-dark: #e61e17;
    --secondary-color: #23b5d3;
    --secondary-color-dark:#279AF1;
    --gray-color:rgb(235, 160, 150);
    --gray-color-dark: #03071e;
}