header{
    float: left;
    width: 100%;
    font-family: "NunitoSans-Bold", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px 0;
    
}
header img{
    width: 150px;
}

header h1{
    color: var(--primary-color);
    font-size: 50px;
    text-shadow: 2px  2px 5px rgb(233, 155, 155);
    margin: 0;
}