<aside>

    <div class="widget">


    </div>
    <div class="widget">
        <h3>Iniciar sesion</h3>
        <form>
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Entrar">
        </form>
        
    </div>
    
    <div class="widget">
        <h3>Ultimas entradas</h3>
            
        <ul>
            <li>
                <a href="#">Fundamentos de HTML</a>
            </li>
            <li>
                <a href="#">Fundamentos de CSS</a>
            </li>
            <li>
                <a href="#">Fundamentos de Javascript</a>
            </li>
            <li>
                <a href="#">Javascritp avanzado</a>
            </li>
            <li>
                <a href="#">Fundamentos de base de datos con Firebase</a>
            </li>

        </ul>
    </div>
    
    <div class="widget">
        <h3>Frase del dia</h3>
        <blockquote>La mejor forma de aprender a programar es escribiendo codigo y estudiando</blockquote>        
    </div>


</aside>