<section id="content">
    <h1>Últimas Noticias</h1>

    <article>
        <h2>El desarrollo web aveces es copiar y pegar</h2>
        <p>Trabajá desde tu casa o viajando por el mundo, manejando tus horarios. Ser freelancer es una forma de vida libre y desestructurada. Sumá herramientas para ofrecer nuevos servicios a tus clientes, aprendé las claves para manejar tus tiempos, presupuestar y ser un profesional más eficiente, confiable y efectivo.</p>
        <a href="#">Leer más</a>
    </article>

    <article>
        <h2>El desarrollo web aveces es copiar y pegar</h2>
        <p>Trabajá desde tu casa o viajando por el mundo, manejando tus horarios. Ser freelancer es una forma de vida libre y desestructurada. Sumá herramientas para ofrecer nuevos servicios a tus clientes, aprendé las claves para manejar tus tiempos, presupuestar y ser un profesional más eficiente, confiable y efectivo.</p>
        <a href="#">Leer más</a>
    </article>

    <article>
        <h2>El desarrollo web aveces es copiar y pegar</h2>
        <p>Trabajá desde tu casa o viajando por el mundo, manejando tus horarios. Ser freelancer es una forma de vida libre y desestructurada. Sumá herramientas para ofrecer nuevos servicios a tus clientes, aprendé las claves para manejar tus tiempos, presupuestar y ser un profesional más eficiente, confiable y efectivo.</p>
        <a href="#">Leer más</a>
    </article>

    <article>
        <h2>El desarrollo web aveces es copiar y pegar</h2>
        <p>Trabajá desde tu casa o viajando por el mundo, manejando tus horarios. Ser freelancer es una forma de vida libre y desestructurada. Sumá herramientas para ofrecer nuevos servicios a tus clientes, aprendé las claves para manejar tus tiempos, presupuestar y ser un profesional más eficiente, confiable y efectivo.</p>
        <a href="#">Leer más</a>
    </article>

    <article>
        <h2>El desarrollo web aveces es copiar y pegar</h2>
        <p>Trabajá desde tu casa o viajando por el mundo, manejando tus horarios. Ser freelancer es una forma de vida libre y desestructurada. Sumá herramientas para ofrecer nuevos servicios a tus clientes, aprendé las claves para manejar tus tiempos, presupuestar y ser un profesional más eficiente, confiable y efectivo.</p>
        <a href="#">Leer más</a>
    </article>

    <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>

        <li><a href="#">3</a></li>

        <li><a href="#">...</a></li>
        <li><a href="#">21</a></li>



    </ul>

</section>